<h2>Products</h2>
<h3>Interpolation</h3>
<h3>My Name: {{name}}</h3>
<input type="text" value="{{name}}"/>

<h3>Property Binding</h3>
<a [href]="url">{{companyName}}</a>

<h3>Event Binding</h3>
<button (click)="abc()">Click Me!</button>

<h3>Two Way Binding</h3>
<input type="text" [(ngModel)] = "name">

<a [routerLink]="['/dir']">Go to Directive</a>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->